/node_modules
/public/hot
/public/storage
/public/dokumen
/public/file_pengantar
/public/lapor_masalah
/public/tanda_jasa
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
